:root {
  --color-background: #f4e5c2;
  --color-primary: #323232;
  --color-secondary: #295f4e;
  --color-tertiary: #6db193;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #283739;
    --color-primary: #e0e0e0;
    --color-secondary: #a2c11c;
    --color-tertiary: #2c5d63;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Cascadia Code',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
